<h2>Januar 2022</h2>

<br>

<div class="tocenter">

    <table>
        <tr>
            <th>Subota</th>
            <th>Ponedeljak</th>
            <th>Utorak</th>
            <th>Sreda</th>
            <th>Cetvrtak</th>
            <th>Petak</th>
            <th>Nedelja</th>
        </tr>
        <tr>
            
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-day [broj]="1" [sastanci]="sastanakZaDan(1)"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="2" [sastanci]="sastanakZaDan(2)"></app-day>
            </td>
            <td>
                <app-day [broj]="3" [sastanci]="sastanakZaDan(3)"></app-day>
            </td>
            <td>
                <app-day [broj]="4" [sastanci]="sastanakZaDan(4)"></app-day>
            </td>
            <td>
                <app-day [broj]="5" [sastanci]="sastanakZaDan(5)"></app-day>
            </td>
            <td>
                <app-day [broj]="6" [sastanci]="sastanakZaDan(6)"></app-day>
            </td>
            <td>
                <app-day [broj]="7" [sastanci]="sastanakZaDan(7)"></app-day>
            </td>
            <td>
                <app-day [broj]="8" [sastanci]="sastanakZaDan(8)"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="9" [sastanci]="sastanakZaDan(9)"></app-day>
            </td>
            <td>
                <app-day [broj]="10" [sastanci]="sastanakZaDan(10)"></app-day>
            </td>
            <td>
                <app-day [broj]="11" [sastanci]="sastanakZaDan(11)"></app-day>
            </td>
            <td>
                <app-day [broj]="12" [sastanci]="sastanakZaDan(12)"></app-day>
            </td>
            <td>
                <app-day [broj]="13" [sastanci]="sastanakZaDan(13)"></app-day>
            </td>
            <td>
                <app-day [broj]="14" [sastanci]="sastanakZaDan(14)"></app-day>
            </td>
            <td>
                <app-day [broj]="15" [sastanci]="sastanakZaDan(15)"></app-day>
            </td>
        </tr>
        <tr>
            <td>
                <app-day [broj]="16" [sastanci]="sastanakZaDan(16)"></app-day>
            </td>
            <td>
                <app-day [broj]="17" [sastanci]="sastanakZaDan(17)"></app-day>
            </td>
            <td>
                <app-day [broj]="18" [sastanci]="sastanakZaDan(18)"></app-day>
            </td>
            <td>
                <app-day [broj]="19" [sastanci]="sastanakZaDan(19)"></app-day>
            </td>
            <td>
                <app-day [broj]="20" [sastanci]="sastanakZaDan(20)"></app-day>
            </td>
            <td>
                <app-day [broj]="21" [sastanci]="sastanakZaDan(21)"></app-day>
            </td>
            <td>
                <app-day [broj]="22" [sastanci]="sastanakZaDan(22)"></app-day>
            </td>
        </tr>
        <tr>
            <td>
                <app-day [broj]="23"></app-day>
            </td>
            <td>
                <app-day [broj]="24" [sastanci]="sastanakZaDan(24)"></app-day>
            </td>
            <td>
                <app-day [broj]="25" [sastanci]="sastanakZaDan(25)"></app-day>
            </td>
            <td>
                <app-day [broj]="26" [sastanci]="sastanakZaDan(26)"></app-day>
            </td>
            <td>
                <app-day [broj]="27" [sastanci]="sastanakZaDan(27)"></app-day>
            </td>
            <td>
                <app-day [broj]="28" [sastanci]="sastanakZaDan(28)"></app-day>
            </td>
            <td>
                <app-day [broj]="29" [sastanci]="sastanakZaDan(29)"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="30" [sastanci]="sastanakZaDan(30)"></app-day>
            </td>
            <td>
                <app-day [broj]="31" [sastanci]="sastanakZaDan(31)"></app-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
        </tr>

    </table>

</div>