<h2>Januar 2022</h2>

<br>

<div class="tocenter">

    <table>
        <tr>
            <th>Subota</th>
            <th>Ponedeljak</th>
            <th>Utorak</th>
            <th>Sreda</th>
            <th>Cetvrtak</th>
            <th>Petak</th>
            <th>Nedelja</th>
        </tr>
        <tr>
            
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-day [broj]="1"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="2"></app-day>
            </td>
            <td>
                <app-day [broj]="3"></app-day>
            </td>
            <td>
                <app-day [broj]="4"></app-day>
            </td>
            <td>
                <app-day [broj]="5"></app-day>
            </td>
            <td>
                <app-day [broj]="6"></app-day>
            </td>
            <td>
                <app-day [broj]="7"></app-day>
            </td>
            <td>
                <app-day [broj]="8"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="9"></app-day>
            </td>
            <td>
                <app-day [broj]="10"></app-day>
            </td>
            <td>
                <app-day [broj]="11"></app-day>
            </td>
            <td>
                <app-day [broj]="12"></app-day>
            </td>
            <td>
                <app-day [broj]="13"></app-day>
            </td>
            <td>
                <app-day [broj]="14"></app-day>
            </td>
            <td>
                <app-day [broj]="15"></app-day>
            </td>
        </tr>
        <tr>
            <td>
                <app-day [broj]="16"></app-day>
            </td>
            <td>
                <app-day [broj]="17"></app-day>
            </td>
            <td>
                <app-day [broj]="18"></app-day>
            </td>
            <td>
                <app-day [broj]="19"></app-day>
            </td>
            <td>
                <app-day [broj]="20"></app-day>
            </td>
            <td>
                <app-day [broj]="21"></app-day>
            </td>
            <td>
                <app-day [broj]="22"></app-day>
            </td>
        </tr>
        <tr>
            <td>
                <app-day [broj]="23"></app-day>
            </td>
            <td>
                <app-day [broj]="24"></app-day>
            </td>
            <td>
                <app-day [broj]="25"></app-day>
            </td>
            <td>
                <app-day [broj]="26"></app-day>
            </td>
            <td>
                <app-day [broj]="27"></app-day>
            </td>
            <td>
                <app-day [broj]="28"></app-day>
            </td>
            <td>
                <app-day [broj]="29"></app-day>
            </td>
        </tr>

        <tr>
            <td>
                <app-day [broj]="30"></app-day>
            </td>
            <td>
                <app-day [broj]="31"></app-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
            <td>
                <app-empty-day></app-empty-day>
            </td>
        </tr>

    </table>

</div>