<div class="container-md">
    <div class="jumbotron">
        <h3 class="display-4">{{tajSastanak.name}}</h3>
        <p class="lead">{{tajSastanak.description}}</p>
        <hr class="my-4">
        <p class="lead">Meeting id: {{id}}</p>
        <p class="lead">Meeting start time: {{start_time_local}}</p>
        <p class="lead">Meeting end time: {{end_time_local}}</p>

        <span class="lead">Participants: </span>
        <span class="lead" *ngFor="let user of users; last as Last">{{user.Username}} ({{user.Email}}) 
            <span *ngIf="!Last">, </span>
        </span> 
        


        <p class="lead">
            <a class="btn btn-danger btn-lg" role="button" (click)="deleteMeeting()">Delete</a>
        </p>
    </div>
    
</div>

